<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/About.css" />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <div class="child1">
        <h1 style="margin-left: 5px">Meme Generator</h1>
      </div>
      <div class="a child2">
        <a href="/">HOME</a>
        <a href="/About" class="active">ABOUT</a>
        <a href="/log">LOGIN</a>
        <a href="/reg">REGISTER</a>
      </div>
    </nav>
    <section class="content">
      <div>
        <h1>ABOUT US</h1>
        <div class="about_content">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil iure
            possimus architecto maxime modi aliquam fugit alias expedita cum in,
            nostrum perferendis saepe! Voluptatem obcaecati doloremque quam
            minus sint dicta? Lorem, ipsum dolor sit amet consectetur
            adipisicing elit. Optio, incidunt veritatis nobis cumque voluptates
            tempora nam? Accusamus ab quod placeat voluptatem vero, consequuntur
            aspernatur iure perspiciatis itaque quae veritatis facilis! Lorem
            ipsum dolor sit amet consectetur adipisicing elit. Hic facere cum
            rerum. Ea, nostrum reiciendis tempora consequuntur, expedita commodi
            exercitationem excepturi quibusdam provident mollitia labore quam
            cumque placeat eveniet ut?
          </p>
        </div>
        <div class="about_flex_content">
          <div class="m">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci,
            doloremque mollitia eveniet unde sint, rem odit sunt laboriosam eum
            laborum libero eaque deserunt. Porro, accusamus iste reprehenderit
            dolore deleniti eius?
          </div>
          <div class="n">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni
            provident repellat eum ex molestias quibusdam est illum blanditiis
            repellendus cupiditate quo atque, error fuga consequuntur iure alias
            saepe officia velit!
          </div>
          <div class="o">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut ipsa
            facere quos architecto quis adipisci doloribus illo sapiente
            officiis sunt repudiandae asperiores suscipit saepe molestias,
            eligendi sequi soluta placeat voluptas.
          </div>
          <div class="p">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum,
            ut id vitae distinctio velit impedit amet in modi accusamus veniam
            quos dignissimos, dicta quod possimus, mollitia hic asperiores magni
            architecto?
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
