<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/Home.css" />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <div class="child1">
        <h1 style="margin-left: 5px">Meme Generator</h1>
      </div>
      <div class="a child2">
        <a href="/" class="active">HOME</a>
        <a href="/About">ABOUT</a>
        <a href="/log">LOGIN</a>
        <a href="/reg">REGISTER</a>
      </div>
    </nav>
    <section class="content">
      <div class="z"></div>
      <div class="x">
        <span>Generate Memes using our tool...</span><br /><br />
        <button>Click Here</button>
      </div>
      <div class="y"></div>
    </section>
  </body>
</html>
