<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/Meme.css" />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <div class="child1">
        <h1 style="margin-left: 5px">Meme Generator</h1>
      </div>
      <div class="a child2">
        <a href="/" class="active">HOME</a>
        <a href="/About">ABOUT</a>
        <a href="/log">LOGIN</a>
        <a href="/reg">REGISTER</a>
      </div>
    </nav>
    <section class="content">
         <div>
            <form action="/meme" method="post">
                <input type="text" name="key" placeholder="Enter keyword">
                <br>
                <br>
                <button type="submit">Submit</button>
            </form>
         </div>
    </section>
  </body>
</html>
